{% load static %}
<link rel="stylesheet" href="{% static 'css/home_css/footer.css' %}" />
<footer
 class="bg-dark text-white pt-t pb-3">
  <div class="container text-center text-md-left ">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Comapny Name
        </h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
          consequatur ullam repellat non sit aut quas, optio soluta itaque
          officiis?
        </p>
        
      </div>
      
      <div class="col-md-5 col-lg-4">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Contact
        </h5>
        <p>
          <i class="fas fa-home mr-3">h</i>
        </p>
        <p>
          <i class="fas fa-home mr-3">E</i>
        </p>
        <p>
          <i class="fas fa-home mr-3">MAN</i>
        </p>
        <p>
          <i class="fas fa-home mr-3"></i>
        </p>
      </div>

    </div>
  </div>
  <hr class="mb-4" />
  <div class="d-flex justify-content-between">
    <div>
      <div class="col-md-5 col-lg-10" style="margin-left:10em;">
        <p>copyright © 2020 all rights reserved by:<a href="#" style="text-decoration: none">
            <strong class="text-warning">Sujit</strong>
          </a></p>
        </div>
    
    </div>
    <div >

      <div class="col-md-5 col-lg-7" style="margin-right:10em; >
        <div class="text-center text-md-right" style="margin-left:10em;>
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="btn-floating btn-sm text-white" style="font-size:23px; color="red"><i class="fab fa-facebook"></i></a>
              </li>
        
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm text-white" style="font-size:23px;"><i class="fab fa-instagram"></i></a>
                </li>
        
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm text-white" style="font-size:23px;"><i class="fab fa-youtube"></i></a>
                </li>
               
              </ul>
        </div>
                
          </div>
    </div>
   
    
  </div>
 
</footer>

