{% extends 'common/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home_css/login.css' %}" />
{% block title %}login{% endblock title %}

{% block content %}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, recusandae. Quibusdam neque aliquid ut rem suscipit nemo, esse distinctio reprehenderit, ea cumque placeat corrupti repudiandae expedita dignissimos incidunt ullam pariatur alias ipsa aut tempora, ipsam nesciunt adipisci. Doloribus ad consectetur laborum, nisi porro obcaecati corrupti sed nihil aspernatur odit sunt nesciunt atque dolores iusto maiores quidem repudiandae qui cum. Non labore adipisci eveniet velit, incidunt nam perferendis reprehenderit rem minima quibusdam deserunt accusamus dolores, libero dicta ex consequuntur! Sunt quas ad, exercitationem, laborum placeat a similique officiis animi qui expedita officia ea nobis? Aliquam neque cumque deserunt! Aliquid, fugit voluptatum?</p>

{% endblock content %}